.dishCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
    text-align: left;
    height: 450px;
    cursor: pointer;
    transition: transform 0.2s;
}

.dishCard:hover{
    transform: scale(1.05);
}

.dishCard img {
    height: 180px;
    width: auto;
    border-radius: 20px;
    margin-top: 10px;
}