.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:bisque;
}

form{
    width: 100%;
}

.inputs-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    
}

.input-section, .image-section {
    flex: 1;
    background-color: aliceblue;
    border-radius: 40px;
}

.innerWrap {
    margin: 50px;
}

form label {
    display: block;
    padding-top: 20px;
}

.form-actions {
    display: flex;
    justify-content: left;
    padding: 20px 0;
}

.form-actions button {
    margin: 10px;
}

textarea {
    width: 80%;
}